
/* 让链接在 hover 状态下显示下划线 */
a:hover {
    /*text-decoration:underline;*/
    outline: none;
}
/* 默认不显示下划线，保持页面简洁 */
ins,
a {
    text-decoration: none;
}
.content_layout{
    width: 1200px;
    margin: 0 auto;
}
.w_100{
    width: 100%;
}
.h_100{
    height: 100%;
}
.po_r{
    position: relative;
}
.po_a{
    position: absolute;
}
.po_a_r{
    position: absolute;
    right:0;
    top: 0;
}
.main_c{
    color: #F0B33C;
}
.bgc_main{
    background-color: #F0B33C;
}
.mt_10{
    margin-top: 10px;
}
.pointer{
    cursor: pointer;
}
.ml_15{
    margin-left: 15px;
}
.mb_10{
    margin-bottom: 10px;
}
.ft_16{
    font-size: 16px;
}
/* 右侧可视化图表盒子 */
.main_content{
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
}

.animated {
    animation-duration: 1s !important;
    -webkit-animation-duration: 1s !important;
    animation-fill-mode: both !important;
    -webkit-animation-fill-mode: both !important;
}
/*从右到左进入*/
.fadeInRight {
    animation-name: fadeInRight;
    -webkit-animation: fadeInRight;
}
/*从右到左进入*/
@keyframes fadeInRight
{
    from {
        opacity: 0;
        -webkit-transform: translate(1000px,0); 
        transform: stranslate(1000px,0); 
    }
    to {
        opacity:1;
        -webkit-transform: translate(0, 0); 
        transform: stranslate(0, 0); 
    }
}
 
@-webkit-keyframes fadeInRight 
{
    from {
        opacity:0;
       -webkit-transform: translate(1000px,0); 
        transform: stranslate(1000px,0); 
    }
    to {
        opacity:1;
        -webkit-transform: translate(0, 0); 
        transform: stranslate(0, 0); 
    }
}
.main_content .echarts_content{
    width: 104%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.2); */
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 0px 8px 0px rgba(188, 142, 94, 1);
    overflow-y: auto;
    
}
.main_content .echarts_content_sub{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main_content .Hutong_echarts_content_sub{
    height: 90%;
}
.main_content .parking_echarts_content_sub{
    height: 85%;
}
.main_content .layer_content{
    position: absolute;
    left: -298%;
    top: 5px;
}
.main_content .map_legend{
    position: absolute;
    width: 215px;
    left: -220px;
    bottom: 0;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 8px 0px rgba(188, 142, 94, 1);
    color: #222;
    font-size: 12px;
}
/* 时间轴 */
.timeline{
    position: absolute;
    bottom:0.6%;
    right: 101%;
    width: 298%;
    height: 70px;
    padding: 0 10px;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0px 0px 8px 0px rgba(188, 142, 94, 1);
    color: #F0B33C;
    text-align: center;
}
.timeline_control{
    width: 24px;
    height: 24px;
    margin: 18px 0;
    cursor: pointer;
}
.timeline_control img{
    width: 100%;
    height: 100%;
}
.timeline .ant-col-1{
    font-size: 12px;
}
.time_line_style{
    position: relative;
    height: 2px;
    margin-top: 30px;
    background-color: #F0B33C;
}
.time_point{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -6px;
    border: 1px solid #F0B33C;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
}
.current_time_point{
    background-color: #F0B33C;
    box-shadow: 0px 0px 8px 0px rgba(188, 142, 94, 1);
}
/* 右侧统计图 */
.chart_content_box{
    width: 100%;
    height: 50%;
}
.source_content{
    height: 5%;
    padding-left: 30px;
    color: #666;
}
/* 分段色差阶梯 */
.chromatic_gradient span{
    display: inline-block;
    width: 30px;
    height: 12px;
}
.chromatic_gradient:nth-child(1) span{
    background-color: #C8C8A9;
}
.chromatic_gradient:nth-child(2) span{
    background-color: #83AF9B;
}
.chromatic_gradient:nth-child(3) span{
    background-color: #8A977B;
}
.chromatic_gradient:nth-child(4) span{
    background-color: #F9CDAD;
}
.chromatic_gradient:nth-child(5) span{
    background-color: #FC9D9A;
}
.chromatic_gradient:nth-child(6) span{
    background-color: #E58308;
}
.chromatic_gradient:nth-child(7) span{
    background-color: #DC5712;
}
.chromatic_gradient:nth-child(8) span{
    background-color: #FE4365;
}
.main_content .chromatic_gradient_map_legend{
    width: 150px;
    left: -155px;
}
/* 简介 */
/* .introduction{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #666;
} */
.introduction_content{
    margin-top: 10px;
    font-size: 16px;
    line-height: 30px;
    color: #000;
}
.introduction_content .introduction_title{
    font-size: 26px;
    text-align: center;
}
.info_window{
    margin: 10px 10px;
}
/* 用地图例 */
.land_legend_content{
    position: absolute;
    right: 25.5%;
    bottom: 5px;
    width: 215px;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 8px 0px rgba(188, 142, 94, 1);
    color: #222;
    font-size: 12px;
}
.land_legend span{
    display: inline-block;
    width: 30px;
    height: 12px;
}
.land_legend:nth-child(1) span{
    background-color: #FF0000;
}
.land_legend:nth-child(2) span{
    background-color: #0084A8;
}
.land_legend:nth-child(3) span{
    background-color: #FFFF00;
}
.land_legend:nth-child(4) span{
    background-color: #730000;
}
.land_legend:nth-child(5) span{
    background-color: #9C9C9C;
}
.land_legend:nth-child(6) span{
    background-color: #FFAA00;
}
.land_legend:nth-child(7) span{
    background-color: #A900E6;
}